/*Selectores*/
/*Selector Universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*Selector de etiqueta*/

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(17, 15, 15);
    margin: 0;
}

h1 {
    color: blueviolet;
    font-size: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    margin-left: 10px;
}

h4 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h5 {
    color: #a531c2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;

}

p {
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

span {
    color: #a531c2;
}

th {
    background-color: blueviolet;
    color: white;
}

td {
    color: white;
    margin: 10px;
    padding: 10px;
}

/*Selector de clase*/
.Logo {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 150px;
    height: auto;
}

.Logo-img:hover {
    box-shadow: 0 0 20px blueviolet;
    border-radius: 20px;
}

.Logo-img {
    height: 40px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.Logo h4:hover {
    box-shadow: 0 0 15px blueviolet;
}

.Nav {
    margin-bottom: 30px;
    text-decoration: none;
}

.Nav li {
    display: inline-block;
    margin-right: 50px;
    padding-right: 10px;
}

.navegador {
    color: rgb(231, 228, 235);
    padding-right: 10px;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    height: auto;
}

.navegador:hover {
    color: blueviolet;
    box-shadow: 0 0 15px blueviolet;
    border-radius: none;
}

.Partido1 {
    background-color: #8b919a;
    margin-left: 10px;
    height: auto;
    


}

/*Herencia*/
.Partido1 h4 {
    color: rgb(83, 38, 125);
    margin-left: 0px;
}

.Partido1 img {
    width: 50px;
}

.Aside {
    border: solid 2px gray;
    font-size: 20px;
    height: auto;
    width: 250px;
    background-color: #8b919a;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Imagen-Futbol {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.Imagen-Futbol:hover {
    box-shadow: 0 0 30px blueviolet;
}

.Imagen-Tenis {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.Imagen-Tenis:hover {
    box-shadow: 0 0 25px blueviolet;
}

.Imagen-Cancha {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.Imagen-Cancha:hover {
    box-shadow: 0 0 25px blueviolet;
}

.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
}

.contenedor p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 20px;
    margin: 20px;
}

.contenedor h2 {
    color: rgb(227, 220, 234);
    margin: 20px;
    padding: 20px;
}



.Tabla-Inicio {
    border: solid 2px gray;
    font-size: 25px;
    height: auto;
    width: 350px;
    background-color: #8b919a;
    margin-top: 0px;
}

.Imagen-Seccion1 {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.Imagen-Seccion2 {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.Imagen-Seccion3 {
    width: 200px;
    height: 150px;
    margin: 10px;
}

.Secciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Quienes-somos {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.Quienes-somos h2 {
    color: rgb(144, 106, 181);
    font-size: 30px;
    padding: 15px;
}

.Quienes-somos p {
    color: #8b919a;
    padding: 15px;
}

.Como-jugar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Como-jugar h2 {
    color: rgb(144, 107, 178);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.Como-jugar ol {
    color: #8b919a;
    font-size: 25px;
    padding: 15px;
}

.Ultimo li {
    color: white;
}

.Ultimo li:hover {
    color: blueviolet;
}

.Imagen-Footer {
    width: 50px;
}





.Aside-Deportes {
    border: solid 2px gray;
    font-size: 20px;
    height: auto;
    width: 250px;
    background-color: #8b919a;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Main-Deportes {
    display: flex;
    flex-direction: row;
}

.Main-Deportes .Tabla {
    border: solid 2px gray;
    font-size: 20px;
    height: auto;
    width: auto;
    background-color: #8b919a;
}

.Crear-Apuesta {
    background-color: #8b919a;
    width: 75vh;
}

.Crear-Apuesta h2 {
    background-color: blueviolet;
    padding-top: 0px;
}

.Crear-Apuesta p {
    padding: 10px;
    margin: 10px;
}

.Seleccion {
    font-size: 20px;
    background-color: #8b919a;
    width: 325px;
    height: 200px;
}

.Seleccion h2 {
    background-color: blueviolet;
    padding: 0px;
}

.Proximos-Eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Tenis h3 {
    margin: 20px;
}

.Tenis table {
    font-size: 20px;
    height: auto;
    background-color: #8b919a;
    margin: 20px;
    padding: 20px;
    width: 1100px;
}

.Tenis button {
    height: 40px;
    width: 70px;
    font-size: 15px;
    background-color: transparent;
}

.Tenis span {
    color: white;
}

.Copa-Libertadores table {
    font-size: 20px;
    height: auto;
    background-color: #8b919a;
    margin: 20px;
    padding: 20px;
    width: 1100px;
}

.Copa-Libertadores button {
    height: 40px;
    width: 70px;
    font-size: 15px;
    background-color: transparent;
}

.Copa-Libertadores span {
    color: white;
}

.NBA table {
    height: auto;
    background-color: #8b919a;
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 1100px;
    font-size: 20px;
}

.NBA button {
    height: 40px;
    width: 70px;
    font-size: 15px;
    background-color: transparent;
}

.NBA span {
    color: white;
}

.Quienes-somos-Dep {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.Quienes-somos-Dep h2 {
    color: rgb(144, 106, 181);
    font-size: 30px;
    padding: 15px;
}

.Quienes-somos-Dep p {
    color: #8b919a;
    padding: 15px;
}

.Como-jugar-Dep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Como-jugar-Dep h2 {
    color: rgb(144, 107, 178);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.Como-jugar-Dep ol {
    color: #8b919a;
    font-size: 25px;
    padding: 15px;
}

.Ayuda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
}

.Ayuda-Logo {
    width: 150px;
    height: 60px;
}

.Ayuda-Logo2 {
    width: 100px;
    height: 70px;
}

.Ayuda-Logo3 {
    width: 170px;
    height: 50px;
}

.Ayuda-Logo4 {
    width: 150px;
    height: 70px;
}

.Pago {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Medios-Pago {
    width: 40px;
    height: 30px;
    margin: 10px;
}

.Img-Apuesta {
    width: 20px;
    height: 20px;
}

.Formularios {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #8b919a;
}

.Formularios p {
    padding: 10px;
    margin: 10px;
}

.Header-Registrate h2 {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
}

.Nav-Casino {
    margin-bottom: 30px;
}

.Nav-Casino li {
    display: inline-block;
    margin-right: 50px;
    padding-right: 10px;
}

.Header-Casino {
    background-color: #8b919a;
    grid-area: Header-Casino;
}

.Img-Header {
    width: 30px;
    height: 30px;
}

.Casino1 {
    display: flex;
    justify-content: space-evenly;
}

.Casino1 p {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: inline;
    color: rgb(135, 45, 220);
}

.Img-Casino {
    width: 300px;
    height: 250px;
    margin: 20px;
    padding: 10px;
}

.Main-Casino h3 {
    margin: 10px;
    padding: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.Button {
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(230, 84, 230);
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.Button:hover {
    color: pink;
}

.Quienes-somos-Casino {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.Quienes-somos-Casino h2 {
    color: rgb(144, 106, 181);
    font-size: 30px;
    padding: 15px;
}

.Quienes-somos-Casino p {
    color: #8b919a;
    padding: 15px;
}

.Como-jugar-Casino {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Como-jugar-Casino h2 {
    color: rgb(144, 107, 178);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.Como-jugar-Casino ol {
    color: #8b919a;
    font-size: 25px;
    padding: 15px;
    margin-left: 25px;
}

.Ayuda-Casino {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    margin-left: 50px;
    padding: 10px;
}

.Pago-Casino {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Img-Divp {
    width: 300px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.Div-Promo h3 {
    padding-left: 50px;
    font-size: 30px;
}

.Div-Promo2 h3 {
    padding-left: 50px;
    font-size: 30px;
}

.Div-Promo3 h3 {
    padding-left: 50px;
    font-size: 30px;
}

.Main-Info {
    padding: 30px;
}

.Img-Info {
    width: 300px;
    height: 250px;
}

.Informacion {
    background-color: #8b919a;
    display: inline-block;
}

.Informacion p {
    font-size: 30px;
}

.Ayuda-Promo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
}

.Pago-Promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Bootstrap*/
.Logo-b {
    width: 40px;
    height: 40px;
}
.Section-Deportes h2{
    margin-top: 20px;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar a {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #a531c2;
}

.dropdown-menu {
    color: #a531c2;
}

.card {
    width: auto;
    height: auto;
    background-color: #8b919a;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.img-fluid {
    max-width: 100vh;
    height: 55vh;
}

.card :hover {
    box-shadow: 0 0 20px blueviolet;
}

.card-text :hover {
    box-shadow: none;
}

.card-title :hover {
    box-shadow: none;
}

.Logo-Twenty-one {
    width: 150px;
    height: 150px;
}
.carousel {
    width: 750px;
    height: 500px;
    margin-right: 10px; 
}
.carousel :hover{
    box-shadow: 0 0 25px blueviolet;
}
.Main h2{
margin-top: 20px;
margin-bottom: 20px;
}
.Section-Deportes{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.Section-Deportes2{
    margin-top: 20px;
    margin-bottom: 20px;  
}
.Seccion1{
    margin: 20px;
}
.Seccion2{
    margin: 20px;
}
.Seccion3{
    margin: 20px;
}
/*Grid Area*/
/*INDEX*/
#Grilla {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 20px;
    grid-template-areas:
        "Nav Nav Nav"
        "Header Header Header"
        "Aside Main Tabla-Inicio"
        "Aside Main Tabla-Inicio"
        "Secciones Secciones Secciones"
        "Quienes-somos Quienes-somos Quienes-somos"
        "Como-jugar Como-jugar Como-jugar"
        "Footer Footer Footer"

}
.navbar {
    grid-area: Nav;
}

.Aside{
    grid-area: Aside;
}
.Main{
    grid-area: Main;
}
.Tabla-Inicio{
    grid-area: Tabla-Inicio;
}
.Secciones{
    grid-area: Secciones;
}
.Quienes-somos{
    grid-area: Quienes-somos;
}
.Como-jugar{
    grid-area: Como-jugar;
}



/*Selectores Id*/
#header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    grid-area: Header;
}

#Header-Deportes {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#pie {
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    grid-area: Footer;
}

#pie h2 {
    color: blueviolet;
}

#pie-Deportes {
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    grid-area: pie-Deportes;
}

#pie-Deportes h2 {
    color: blueviolet;
}

#pie-Casino {
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    grid-area: pie-Casino;
}

#pie-Casino h2 {
    color: blueviolet;
}

#pie-Info {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

#pie-Info h2 {
    color: blueviolet;
}

/*MediaQueris*/
/*Mobile First*/
@media only screen and (min-width: 320px) and (max-width: 767px){

    #Grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  300px 300px auto auto 350px 600px 250px 250px;
        grid-template-areas:
            "Nav Nav"
            "Header Header"
            "Main Tabla-Inicio"
            "Main Tabla-Inicio"
            "Secciones Secciones"
            "Quienes-somos Quienes-somos"
            "Como-jugar Como-jugar"
            "Footer Footer"
    }
    .navbar {
        grid-area: Nav;
    }
    #header{
        grid-area: Header;
    }
    .Aside{
        display: none;
    }
    .Main{
        grid-area: Main;
    }
    .Tabla-Inicio{
        grid-area: Tabla-Inicio;
    }
    .Secciones{
        grid-area: Secciones;
    }
    .Quienes-somos{
        grid-area: Quienes-somos;
    }
    .Como-jugar{
        grid-area: Como-jugar;
        margin-top: 90px;
        margin-left: 20px;
    } 
    #pie{
        grid-area: Footer;
    }
}
/*Version Tablet*/

@media only screen and (min-width:768px) and (max-width:1023px) {
    #Grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px auto auto 350px 600px 250px 250px;
        grid-template-areas:
            "Nav Nav"
            "Header Header"
            "Main Tabla-Inicio"
            "Main Tabla-Inicio"
            "Secciones Secciones"
            "Quienes-somos Quienes-somos"
            "Como-jugar Como-jugar"
            "Footer Footer"
    }
    .navbar{
        grid-area: Nav;
    }
    #header{
        grid-area: Header;
    }
    .Main{
        grid-area: Main;
    }
    .Tabla-Inicio{
        grid-area: Tabla-Inicio;
    }
    .Secciones{
        grid-area: Secciones;
    }
    .Quienes-somos{
        grid-area: Quienes-somos;
    }
    .Como-jugar{
        grid-area: Como-jugar;
        margin-top: 90px;
        margin-left: 20px;
        
    }
    #pie{
        grid-area: Footer;
    }
    .Aside{
        display: none;
    }
}
/*Version desktop*/
@media only screen and (min-width:1023px){
    #Grilla{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 150px 300px auto auto 350px 600px 250px 250px;
        grid-template-areas:
        "Nav Nav Nav"
        "Header Header Header"
        "Aside Main Tabla-Inicio"
        "Aside Main Tabla-Inicio"
        "Secciones Secciones Secciones"
        "Quienes-somos Quienes-somos Quienes-somos"
        "Como-jugar Como-jugar Como-jugar"
        "Footer Footer Footer"
    }
    .navbar{
        grid-area: Nav;
    }
    #header{
        grid-area: Header;
    }
    .Main{
        grid-area: Main;
    }
    .Tabla-Inicio{
        grid-area: Tabla-Inicio;
    }
    .Secciones{
        grid-area: Secciones;
    }
    .Quienes-somos{
        grid-area: Quienes-somos;
    }
    .Como-jugar{
        grid-area: Como-jugar;
        margin-top: 100px;
        margin-bottom: 20px;
        margin-left: 20px;
        
    }
    #pie{
        grid-area: Footer;
    }
    .Aside{
        grid-area: Aside;
    }
}