/*Ingreso de variables*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap");
/*Selectores*/
/*Selector Universal*/
/*Selector de etiqueta*/
body {
  background-image: linear-gradient(to top, #4e0442, #3e0c39, #2f0e2e, #220e23, #170a18);
}

h1, .Header-Registrate h2, .Header-Casino h2 {
  color: #a531c2;
  font-size: 20px;
  text-align: center;
  font-family: Lato;
}

h2 {
  color: rgb(247, 239, 239);
  font-family: Quicksand;
  font-size: 32px;
}

h3 {
  color: blueviolet;
  font-family: Quicksand;
  font-size: 30px;
  margin-left: 10px;
}

h4 {
  color: #a531c2;
  font-family: Quicksand;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h5 {
  color: #a531c2;
  font-family: Quicksand;
  font-size: 25px;
}

p {
  color: rgb(247, 239, 239);
  font-size: 20px;
  font-family: Nunito;
}

span {
  color: #a531c2;
}

th {
  background-color: #a531c2;
  color: rgb(247, 239, 239);
}
th td {
  color: rgb(247, 239, 239);
  margin: 10px;
  padding: 10px;
}

label {
  color: rgb(247, 239, 239);
}

/*Selector de clase*/
.Aside, .contenedor-Deportes .Aside-Deportes {
  border: solid 2px #8b919a;
  font-size: 20px;
  width: 150px;
  height: auto;
  background-color: #8b919a;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Imagen-Futbol, .Imagen-Cancha, .Imagen-Tenis {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Tabla-Inicio, .contenedor-Deportes .Tabla {
  border: solid 2px #8b919a;
  font-size: 25px;
  width: 400px;
  height: 100%;
  background-color: #8b919a;
  margin-top: 0px;
}

.Secciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.Secciones .Imagen-Seccion1, .Secciones .Imagen-Seccion3, .Secciones .Imagen-Seccion2 {
  width: 200px;
  height: 150px;
  margin: 10px;
}
.Quienes-somos, .Aclaraciones-Info, .Quienes-somos-Info p, .Quienes-somos-Info h2, .Quienes-somos-Info, .Quienes-somos-Casino p, .Quienes-somos-Casino h2, .Quienes-somos-Casino, .Quienes-somos-Dep p, .Quienes-somos-Dep h2, .Quienes-somos-Dep {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.Quienes-somos h4, .Aclaraciones-Info h4, .Quienes-somos-Info h4, .Quienes-somos-Casino h4, .Quienes-somos-Dep h4 {
  color: #a531c2;
  font-size: 30px;
  padding: 15px;
  font-family: Quicksand;
}
.Quienes-somos p, .Aclaraciones-Info p, .Quienes-somos-Info p, .Quienes-somos-Casino p, .Quienes-somos-Dep p {
  color: #8b919a;
  padding: 15px;
  font-size: 25px;
  font-family: Nunito;
}

.Como-jugar, .Como-jugar-Casino ol, .Como-jugar-Casino h2, .Como-jugar-Casino, .Como-jugar-Dep ol, .Como-jugar-Dep h2, .Como-jugar-Dep {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Como-jugar h4, .Como-jugar-Casino h4, .Como-jugar-Dep h4 {
  color: #a531c2;
  font-size: 40px;
  font-family: Quicksand;
  padding: 10px;
}
.Como-jugar ol, .Como-jugar-Casino ol, .Como-jugar-Dep ol {
  color: #8b919a;
  font-size: 25px;
  padding-right: 35px;
  font-family: Nunito;
}

.btn-outline-danger {
  margin-left: 25px;
}

.contenedor-Deportes {
  display: flex;
  flex-direction: row;
}
.contenedor-Deportes .Tabla {
  margin-right: 10px;
}
.contenedor-Deportes .Encuentros {
  margin-right: 30px;
}
.contenedor-Deportes .Encuentros .img-fluid {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 0 5px #a531c2;
}
.contenedor-Deportes .Encuentros h2 {
  margin-left: 10px;
}

.Proximos-Eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-right: 150px;
}
.Proximos-Eventos h3 {
  margin: 20px;
}
.Proximos-Eventos .Tenis table, .Proximos-Eventos .NBA .NBA span table, .Proximos-Eventos .NBA .NBA button table, .Proximos-Eventos .NBA table, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores span table, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores button table, .Proximos-Eventos .Copa-Libertadores table {
  font-size: 20px;
  width: 100%;
  height: auto;
  background-color: #8b919a;
  margin: 20px;
  padding: 20px;
}
.Proximos-Eventos .Tenis table .Tenis button, .Proximos-Eventos .NBA table .Tenis button, .Proximos-Eventos .NBA .NBA table span button, .Proximos-Eventos .NBA .NBA table button button, .Proximos-Eventos .Tenis table .NBA button, .Proximos-Eventos .NBA table .NBA button, .Proximos-Eventos .Copa-Libertadores table .Tenis button, .Proximos-Eventos .Copa-Libertadores table .NBA button, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores table span button, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores table button button, .Proximos-Eventos .Tenis table .Copa-Libertadores button, .Proximos-Eventos .NBA table .Copa-Libertadores button, .Proximos-Eventos .Copa-Libertadores table .Copa-Libertadores button {
  width: 40px;
  height: 70px;
  font-size: 16px;
  background-color: transparent;
}
.Proximos-Eventos .Tenis table .Tenis span, .Proximos-Eventos .NBA table .Tenis span, .Proximos-Eventos .NBA .NBA table span span, .Proximos-Eventos .NBA .NBA table button span, .Proximos-Eventos .Tenis table .NBA span, .Proximos-Eventos .NBA table .NBA span, .Proximos-Eventos .Copa-Libertadores table .Tenis span, .Proximos-Eventos .Copa-Libertadores table .NBA span, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores table span span, .Proximos-Eventos .Copa-Libertadores .Copa-Libertadores table button span, .Proximos-Eventos .Tenis table .Copa-Libertadores span, .Proximos-Eventos .NBA table .Copa-Libertadores span, .Proximos-Eventos .Copa-Libertadores table .Copa-Libertadores span {
  color: rgb(247, 239, 239);
}
.Ayuda, .Ayuda-Promo, .Ayuda-Casino {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
  padding: 10px;
}
.Ayuda .Ayuda-Logo, .Ayuda-Promo .Ayuda-Logo, .Ayuda-Casino .Ayuda-Logo {
  width: 150px;
  height: 60px;
}
.Ayuda .Ayuda-Logo2, .Ayuda-Promo .Ayuda-Logo2, .Ayuda-Casino .Ayuda-Logo2 {
  width: 100px;
  height: 70px;
}
.Ayuda .Ayuda-Logo3, .Ayuda-Promo .Ayuda-Logo3, .Ayuda-Casino .Ayuda-Logo3 {
  width: 170px;
  height: 50px;
}

.Pago, .Pago-Promo, .Pago-Casino {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Pago .Medios-Pago, .Pago-Promo .Medios-Pago, .Pago-Casino .Medios-Pago {
  width: 40px;
  height: 30px;
  margin: 10px;
}

.Img-Apuesta {
  width: 20px;
  height: 20px;
}

.Img-Casino {
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 15px #a531c2;
  transition: 0.5s;
  object-fit: cover;
}

.Img-Casino:hover {
  transform: scale(1.1);
}

.Div-Promo h1, .Div-Promo .Header-Registrate h2, .Header-Registrate .Div-Promo h2, .Div-Promo .Header-Casino h2, .Header-Casino .Div-Promo h2, .Div-Promo3 h1, .Div-Promo3 .Header-Registrate h2, .Header-Registrate .Div-Promo3 h2, .Div-Promo3 .Header-Casino h2, .Header-Casino .Div-Promo3 h2, .Div-Promo2 h1, .Div-Promo2 .Header-Registrate h2, .Header-Registrate .Div-Promo2 h2, .Div-Promo2 .Header-Casino h2, .Header-Casino .Div-Promo2 h2 {
  padding-left: 20px;
  font-size: 30px;
  color: #a531c2;
}
.Div-Promo .Img-Divp, .Div-Promo3 .Img-Divp, .Div-Promo2 .Img-Divp {
  width: 300px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.Header-Info h1, .Header-Info .Header-Registrate h2, .Header-Registrate .Header-Info h2, .Header-Info .Header-Casino h2, .Header-Casino .Header-Info h2 {
  font-size: 52px;
}

.Aclaraciones-Info {
  margin-top: 50px;
}
.Aclaraciones-Info h3 {
  font-family: Quicksand;
  color: #a531c2;
  font-size: 40px;
}
.Aclaraciones-Info p {
  font-family: Nunito;
  color: #8b919a;
  font-size: 35px;
}

/*Boostrap*/
.Logo-b {
  width: 40px;
  height: 40px;
}

.navbar li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar a {
  font-size: 20px;
  font-family: Nunito;
  color: #a531c2;
}

.dropdown-menu {
  color: #a531c2;
}

.card {
  width: auto;
  height: auto;
  background-color: #8b919a;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
}
.card .img-fluid {
  width: 100vh;
  height: 55vh;
}
.card .card :hover {
  box-shadow: 0 0 20px blueviolet;
}

.Logo-Twenty-one {
  width: 150px;
  height: 150px;
}

.carousel {
  width: 100vh;
  height: 600px;
  margin-right: 10px;
}

.carousel :hover {
  box-shadow: 0 0 25px blueviolet;
}

.Main h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Main h2 .Section-Deportes, .Main h2 .Section-Deportes2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Seccion1, .Seccion3, .Seccion2 {
  margin: 20px;
}

.Deportes .img-fluid, .Deportes2 .img-fluid {
  width: 500px;
  height: auto;
}

/*Transitions*/
.Header-Registrate h1, .Header-Registrate h2, .Header-Casino h1, .Header-Casino h2 {
  display: flex;
  justify-content: center;
  color: #a531c2;
  font-size: 50px;
  font-family: Lato;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.Header-Registrate h2, .Header-Casino h2 {
  font-size: 32px;
  font-family: Quicksand;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Div-Promo h1, .Div-Promo2 h1, .Div-Promo3 h1, .Div-Promo .Header-Registrate h2, .Header-Registrate .Div-Promo h2, .Div-Promo2 .Header-Registrate h2, .Header-Registrate .Div-Promo2 h2, .Div-Promo3 .Header-Registrate h2, .Header-Registrate .Div-Promo3 h2, .Div-Promo .Header-Casino h2, .Header-Casino .Div-Promo h2, .Div-Promo2 .Header-Casino h2, .Header-Casino .Div-Promo2 h2, .Div-Promo3 .Header-Casino h2, .Header-Casino .Div-Promo3 h2 {
  animation-duration: 4s;
  animation-name: aparecer;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.shop-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: Quicksand;
}

.price {
  color: #8b919a;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: pink;
  background-color: rgb(7, 6, 6);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.Logo-Carrito {
  width: 50px;
  height: 40px;
}

.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: pink;
  background-color: rgb(7, 6, 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
}
.modal-container .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(7, 6, 6);
  color: rgb(247, 239, 239);
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.delete-product {
  cursor: pointer;
}

.cantidad-carrito {
  background-color: #a531c2;
  color: rgb(247, 239, 239);
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

.price {
  color: #a531c2;
  font-family: Quicksand;
}

/*Grid Area*/
/*INDEX*/
#Grilla {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-gap: 20px;
  grid-template-areas: "Nav Nav Nav" "Header Header Header" "Aside Main Tabla-Inicio" "Aside Main Tabla-Inicio" "Secciones Secciones Secciones" "Quienes-somos Quienes-somos Quienes-somos" "Como-jugar Como-jugar Como-jugar" "Footer Footer Footer";
}

.navbar {
  grid-area: Nav;
}

.Aside, .contenedor-Deportes .Aside-Deportes {
  grid-area: Aside;
}

.Main {
  grid-area: Main;
}

.Tabla-Inicio, .contenedor-Deportes .Tabla {
  grid-area: Tabla-Inicio;
}

.Secciones {
  grid-area: Secciones;
}

.Quienes-somos, .Quienes-somos-Dep, .Quienes-somos-Dep h2, .Quienes-somos-Dep p, .Quienes-somos-Casino, .Quienes-somos-Casino h2, .Quienes-somos-Casino p, .Quienes-somos-Info, .Quienes-somos-Info h2, .Quienes-somos-Info p, .Aclaraciones-Info {
  grid-area: Quienes-somos;
}

.Como-jugar, .Como-jugar-Dep, .Como-jugar-Dep h2, .Como-jugar-Dep ol, .Como-jugar-Casino, .Como-jugar-Casino h2, .Como-jugar-Casino ol {
  grid-area: Como-jugar;
}

/*Selectores Id*/
#header, #Header-Deportes {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-area: Header;
}
#header .Partido1, #Header-Deportes .Partido1, #Header-Deportes h4 {
  background-color: #8b919a;
  margin-left: 10px;
  margin-top: 70px;
  width: auto;
  height: auto;
}
#header h1, #Header-Deportes h1, #header .Header-Registrate h2, #Header-Deportes .Header-Registrate h2, .Header-Registrate #header h2, .Header-Registrate #Header-Deportes h2, #header .Header-Casino h2, #Header-Deportes .Header-Casino h2, .Header-Casino #header h2, .Header-Casino #Header-Deportes h2 {
  color: #a531c2;
  margin-left: 0px;
  font-family: Quicksand;
}
#header .Img-Partido1, #Header-Deportes .Img-Partido1 {
  width: 50px;
  height: auto;
}

#pie, #pie-Deportes {
  margin: 40px;
  display: flex;
  justify-content: space-evenly;
  grid-area: Footer;
}
#pie h5, #pie-Deportes h5 {
  color: #a531c2;
  margin-bottom: 10px;
  font-family: Quicksand;
}
#pie .Ultimo li, #pie-Deportes .Ultimo li {
  color: rgb(247, 239, 239);
  justify-content: center;
  font-family: Nunito;
}
#pie .Ultimo li:hover, #pie-Deportes .Ultimo li:hover {
  color: #a531c2;
}
#pie .Ultimo .Imagen-Footer, #pie-Deportes .Ultimo .Imagen-Footer {
  width: 50px;
}

#Button {
  width: 90px;
  height: 40px;
  font-size: 20px;
  color: rgb(247, 239, 239);
  background-color: #a531c2;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#Button #Button:hover {
  color: rgb(247, 239, 239);
}

/*MediaQueris*/
/*Mobile First*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #Grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px auto auto auto auto auto;
    grid-template-areas: "Nav" "Header" "Main" "Secciones" "Quienes-somos" "Como-jugar" "Footer";
  }
  .navbar {
    grid-area: Nav;
  }
  #header, #Header-Deportes {
    grid-area: Header;
    margin-left: 10px;
  }
  .Aside, .contenedor-Deportes .Aside-Deportes {
    display: none;
  }
  .Main {
    grid-area: Main;
    margin-left: 20px;
  }
  .Tabla-Inicio, .contenedor-Deportes .Tabla {
    display: none;
  }
  .Secciones {
    grid-area: Secciones;
  }
  .Quienes-somos, .Quienes-somos-Dep, .Quienes-somos-Dep h2, .Quienes-somos-Dep p, .Quienes-somos-Casino, .Quienes-somos-Casino h2, .Quienes-somos-Casino p, .Quienes-somos-Info, .Quienes-somos-Info h2, .Quienes-somos-Info p, .Aclaraciones-Info {
    grid-area: Quienes-somos;
  }
  .Como-jugar, .Como-jugar-Dep, .Como-jugar-Dep h2, .Como-jugar-Dep ol, .Como-jugar-Casino, .Como-jugar-Casino h2, .Como-jugar-Casino ol {
    grid-area: Como-jugar;
    margin-left: 50px;
  }
}
/*Version Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #Grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px auto auto auto auto auto auto;
    grid-template-areas: "Nav Nav" "Header Header" "Main Tabla-Inicio" "Main Tabla-Inicio" "Secciones Secciones" "Quienes-somos Quienes-somos" "Como-jugar Como-jugar" "Footer Footer";
  }
  .navbar {
    grid-area: Nav;
  }
  #header, #Header-Deportes {
    grid-area: Header;
  }
  .Main {
    grid-area: Main;
  }
  .Tabla-Inicio, .contenedor-Deportes .Tabla {
    grid-area: Tabla-Inicio;
  }
  .Secciones {
    grid-area: Secciones;
  }
  .Quienes-somos, .Quienes-somos-Dep, .Quienes-somos-Dep h2, .Quienes-somos-Dep p, .Quienes-somos-Casino, .Quienes-somos-Casino h2, .Quienes-somos-Casino p, .Quienes-somos-Info, .Quienes-somos-Info h2, .Quienes-somos-Info p, .Aclaraciones-Info {
    grid-area: Quienes-somos;
  }
  .Como-jugar, .Como-jugar-Dep, .Como-jugar-Dep h2, .Como-jugar-Dep ol, .Como-jugar-Casino, .Como-jugar-Casino h2, .Como-jugar-Casino ol {
    grid-area: Como-jugar;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
  }
  .Aside, .contenedor-Deportes .Aside-Deportes {
    display: none;
  }
}
/*Version desktop*/
@media only screen and (min-width: 1023px) {
  #Grilla {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px 300px auto auto auto auto auto auto;
    grid-template-areas: "Nav Nav Nav" "Header Header Header" "Aside Main Tabla-Inicio" "Aside Main Tabla-Inicio" "Secciones Secciones Secciones" "Quienes-somos Quienes-somos Quienes-somos" "Como-jugar Como-jugar Como-jugar" "Footer Footer Footer";
  }
  .navbar {
    grid-area: Nav;
  }
  #header, #Header-Deportes {
    grid-area: Header;
  }
  .Main {
    grid-area: Main;
  }
  .Tabla-Inicio, .contenedor-Deportes .Tabla {
    grid-area: Tabla-Inicio;
  }
  .Secciones {
    grid-area: Secciones;
  }
  .Quienes-somos, .Quienes-somos-Dep, .Quienes-somos-Dep h2, .Quienes-somos-Dep p, .Quienes-somos-Casino, .Quienes-somos-Casino h2, .Quienes-somos-Casino p, .Quienes-somos-Info, .Quienes-somos-Info h2, .Quienes-somos-Info p, .Aclaraciones-Info {
    grid-area: Quienes-somos;
  }
  .Como-jugar, .Como-jugar-Dep, .Como-jugar-Dep h2, .Como-jugar-Dep ol, .Como-jugar-Casino, .Como-jugar-Casino h2, .Como-jugar-Casino ol {
    grid-area: Como-jugar;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .Aside, .contenedor-Deportes .Aside-Deportes {
    grid-area: Aside;
  }
}
/*Grilla Deportes*/

/*# sourceMappingURL=style.css.map */
