    /*Ingreso de variables*/
    $color1: rgb(7, 6, 6);
    $color2: #8b919a;
    $color3: #a531c2;
    $color4: blueviolet;
    $color5: rgb(247, 239, 239);
    $color6: pink;
    $color7: rgb(67, 67, 186);
    $color8: rgb(98, 98, 183);
    /*Fuentes*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Nunito+Sans:wght@300&family=Quicksand:wght@300&display=swap');


    $font1: Lato;
    $font2: Quicksand;
    $font3: Nunito;

    @mixin sizes($width, $height) {
        width: $width;
        height: $height;
    }


    /*Selectores*/


    /*Selector Universal*/


    /*Selector de etiqueta*/




    body {
        background-image: linear-gradient(to top, #4e0442, #3e0c39, #2f0e2e, #220e23, #170a18);
    }


    h1 {
        color: $color3;
        font-size: 20px;
        text-align: center;
        font-family: $font1;
    }

    h2 {
        color: $color5;
        font-family: $font2;
        font-size: 32px;
    }

    h3 {
        color: $color4;
        font-family: $font2;
        font-size: 30px;
        margin-left: 10px;
    }

    h4 {
        color: $color3;
        font-family: $font2;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    h5 {
        color: $color3;
        font-family: $font2;
        font-size: 25px;

    }

    p {
        color: $color5;
        font-size: 20px;
        font-family: $font3;
    }

    span {
        color: $color3;
    }

    th {
        background-color: $color3;
        color: $color5;


        td {
            color: $color5;
            margin: 10px;
            padding: 10px;
        }
    }

    label {
        color: $color5;
    }

    /*Selector de clase*/

    .Aside {
        border: solid 2px $color2;
        font-size: 20px;
        @include sizes(150px, auto);
        background-color: $color2;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Imagen-Futbol {
        @include sizes(50px, 50px);
        margin-right: 10px;
    }


    .Imagen-Tenis {
        @extend .Imagen-Futbol;
    }

    .Imagen-Cancha {
        @extend .Imagen-Futbol;
    }


    .Tabla-Inicio {
        border: solid 2px $color2;
        font-size: 25px;
        @include sizes(400px, 100%);
        background-color: $color2;
        margin-top: 0px;
    }

    .Secciones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .Imagen-Seccion1 {
            @include sizes(200px, 150px);
            margin: 10px;
        }

        .Imagen-Seccion2 {
            @extend .Imagen-Seccion1;
        }

        .Imagen-Seccion3 {
            @extend .Imagen-Seccion1;
        }
    }

    .Quienes-somos {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;


        h4 {
            color: $color3;
            font-size: 30px;
            padding: 15px;
            font-family: $font2
        }

        p {
            color: $color2;
            padding: 15px;
            font-size: 25px;
            font-family: $font3;
        }
    }

    .Como-jugar {
        display: flex;
        flex-direction: column;
        align-items: center;


        h4 {
            color: $color3;
            font-size: 40px;
            font-family: $font2;
            padding: 10px;
        }

        ol {
            color: $color2;
            font-size: 25px;
            padding-right: 35px;
            font-family: $font3;

        }
    }

    .btn-outline-danger {
        margin-left: 25px;
    }

    .contenedor-Deportes {
        display: flex;
        flex-direction: row;

        .Aside-Deportes {
            @extend .Aside;
        }

        .Tabla {
            @extend .Tabla-Inicio;
            margin-right: 10px;
        }


        .Encuentros {
            margin-right: 30px;

            .img-fluid {
                margin: 15px;
                border-radius: 15px;
                box-shadow: 0 0 5px $color3;
            }

            h2 {
                margin-left: 10px;
            }
        }
    }

    .Proximos-Eventos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-right: 150px;


        h3 {
            margin: 20px;
        }

        .Tenis table {
            font-size: 20px;
            @include sizes(100%, auto);
            background-color: $color2;
            margin: 20px;
            padding: 20px;


            .Tenis button {
                @include sizes(40px, 70px);
                font-size: 16px;
                background-color: transparent;
            }

            .Tenis span {
                color: $color5;
            }
        }

        .Copa-Libertadores {
            @extend .Tenis;


            .Copa-Libertadores button {
                @extend .Tenis;
            }

            .Copa-Libertadores span {
                @extend .Tenis;
            }
        }

        .NBA {
            @extend .Tenis;


            .NBA button {
                @extend .Tenis;
            }

            .NBA span {
                @extend .Tenis;
            }
        }
    }

    .Quienes-somos-Dep {
        @extend .Quienes-somos;

        h2 {
            @extend .Quienes-somos;
        }

        p {
            @extend .Quienes-somos;
        }
    }

    .Como-jugar-Dep {
        @extend .Como-jugar;


        h2 {
            @extend .Como-jugar;
        }

        ol {
            @extend .Como-jugar;
        }
    }

    .Ayuda {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px;
        padding: 10px;


        .Ayuda-Logo {
            @include sizes(150px, 60px);
        }

        .Ayuda-Logo2 {
            @include sizes(100px, 70px);

        }

        .Ayuda-Logo3 {
            @include sizes(170px, 50px);

        }
    }

    .Pago {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .Medios-Pago {
            @include sizes(40px, 30px);
            margin: 10px;
        }
    }

    .Img-Apuesta {
        @include sizes(20px, 20px);
    }

    .Header-Casino {
        @extend .Header-Registrate;

    }


    .Img-Casino {
        @include sizes(300px, 250px);
        margin: 20px;
        padding: 10px;
        box-shadow: 0 0 15px $color3;
        transition: 0.5s;
        object-fit: cover;

    }

    .Img-Casino:hover {
        transform: scale(1.1);
    }




    .Quienes-somos-Casino {
        @extend .Quienes-somos;


        h2 {
            @extend .Quienes-somos;
        }

        p {
            @extend .Quienes-somos;
        }
    }

    .Como-jugar-Casino {
        @extend .Como-jugar;


        h2 {
            @extend .Como-jugar;
        }

        ol {
            @extend .Como-jugar;
        }
    }

    .Ayuda-Casino {
        @extend .Ayuda;
    }

    .Pago-Casino {
        @extend .Pago;
    }

    .Div-Promo {
        h1 {
            padding-left: 20px;
            font-size: 30px;
            color: $color3;
        }

        .Img-Divp {
            @include sizes(300px, 250px);
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
        }
    }

    .Div-Promo2 {
        @extend .Div-Promo;
    }

    .Div-Promo3 {
        @extend .Div-Promo;
    }

    .Ayuda-Promo {
        @extend .Ayuda;
    }

    .Pago-Promo {
        @extend .Pago;
    }

    .Header-Info {
        h1 {
            font-size: 52px;
        }
    }

    .Quienes-somos-Info {
        @extend .Quienes-somos;


        h2 {
            @extend .Quienes-somos;
        }

        p {
            @extend .Quienes-somos;
        }
    }

    .Aclaraciones-Info {
        @extend .Quienes-somos;
        margin-top: 50px;

        h3 {
            font-family: $font2;
            color: $color3;
            font-size: 40px;


        }

        p {
            font-family: $font3;
            color: $color2;
            font-size: 35px;


        }

    }


    /*Boostrap*/
    .Logo-b {
        @include sizes(40px, 40px);
    }


    .navbar li {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navbar a {
        font-size: 20px;
        font-family: $font3;
        color: $color3;
    }

    .dropdown-menu {
        color: $color3;
    }

    .card {
        @include sizes(auto, auto);
        background-color: $color2;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 30px;

        .img-fluid {
            @include sizes(100vh, 55vh);
        }

        .card :hover {
            box-shadow: 0 0 20px blueviolet;
        }
    }

    .Logo-Twenty-one {
        @include sizes(150px, 150px);
    }

    .carousel {
        @include sizes(100vh, 600px);
        margin-right: 10px;
    }

    .carousel :hover {
        box-shadow: 0 0 25px blueviolet;
    }

    .Main h2 {
        margin-top: 20px;
        margin-bottom: 20px;


        .Section-Deportes {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .Section-Deportes2 {
            @extend .Section-Deportes;
        }
    }

    .Seccion1 {
        margin: 20px;
    }

    .Seccion2 {
        @extend .Seccion1;
    }

    .Seccion3 {
        @extend .Seccion1;
    }

    .Deportes {
        .img-fluid {
            @include sizes(500px, auto)
        }
    }

    .Deportes2 {
        @extend .Deportes;
    }

    /*Transitions*/
    .Header-Registrate {
        h1 {
            display: flex;
            justify-content: center;
            color: $color3;
            font-size: 50px;
            font-family: $font1;
            animation-duration: 4s;
            animation-name: aparecer;
            animation-delay: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        h2 {
            @extend h1;
            font-size: 32px;
            font-family: $font2;

        }

        @keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }

        }
    }

    .Div-Promo {
        h1 {
            animation-duration: 4s;
            animation-name: aparecer;
            animation-delay: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        @keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }

        }
    }
//Carrito
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right:80px;

}
.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 300px;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font2;



    }
    .price{
        color: $color2;
        font-size: 22px;
    }

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: $color6;
    background-color: $color1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover{
    opacity: 0.7;
}
.Logo-Carrito{
    width: 50px;
    height: 40px;
}
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:$color6;
    background-color: $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;

    .modal-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: 10px;
    }

}
.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: $color1;
    color: $color5;
    width: 100%;
}
.modal-header-title{
    justify-self: start;
}
.modal-header-button{
    cursor: pointer;
}
.modal-container > div > img{
    height: 120px;
    width: 120px;
}
.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product{
    cursor: pointer;
}
.cantidad-carrito{
    background-color: $color3;
    color: $color5;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}
.sumar{
    cursor: pointer;
}
.restar{
    cursor: pointer;
}

.price{
    color: #a531c2;
    font-family: $font2;
}
    /*Grid Area*/
    /*INDEX*/
    #Grilla {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-gap: 20px;
        grid-template-areas:
            "Nav Nav Nav"
            "Header Header Header"
            "Aside Main Tabla-Inicio"
            "Aside Main Tabla-Inicio"
            "Secciones Secciones Secciones"
            "Quienes-somos Quienes-somos Quienes-somos"
            "Como-jugar Como-jugar Como-jugar"
            "Footer Footer Footer"

    }

    .navbar {
        grid-area: Nav;
    }

    .Aside {
        grid-area: Aside;
    }

    .Main {
        grid-area: Main;
    }

    .Tabla-Inicio {
        grid-area: Tabla-Inicio;
    }

    .Secciones {
        grid-area: Secciones;
    }

    .Quienes-somos {
        grid-area: Quienes-somos;
    }

    .Como-jugar {
        grid-area: Como-jugar;
    }



    /*Selectores Id*/
    #header {
        display: flex;
        justify-content: center;
        text-align: center;
        grid-area: Header;

        .Partido1 {
            background-color: $color2;
            margin-left: 10px;
            margin-top: 70px;
            @include sizes(auto, auto);
        }

        h1 {
            color: $color3;
            margin-left: 0px;
            font-family: $font2
        }

        .Img-Partido1 {
            @include sizes(50px, auto);
        }
    }


    #Header-Deportes {
        @extend #header;

        .Partido1 {
            @extend .Partido1;
        }

        h4 {
            @extend .Partido1;
        }

        .Img-Partido1 {
            @extend .Img-Partido1;
        }
    }

    #pie {
        margin: 40px;
        display: flex;
        justify-content: space-evenly;
        grid-area: Footer;

        h5 {
            color: $color3;
            margin-bottom: 10px;
            font-family: $font2;

        }

        .Ultimo {

            li {
                color: $color5;
                justify-content: center;
                font-family: $font3;

            }


            li:hover {
                color: $color3;
            }

            .Imagen-Footer {
                width: 50px;
            }

        }
    }

    #pie-Deportes {
        @extend #pie;
    }

    #Button {
        @include sizes(90px, 40px);
        font-size: 20px;
        color: $color5;
        background-color: $color3;
        margin-left: 30px;
        margin-bottom: 20px;
        border-radius: 10px;


        #Button:hover {
            color: $color5;
        }
    }

    /*MediaQueris*/
    /*Mobile First*/
    @media only screen and (min-width: 320px) and (max-width: 767px) {

        #Grilla {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 300px 300px auto auto auto auto auto;
            grid-template-areas:
                "Nav"
                "Header"
                "Main"
                "Secciones"
                "Quienes-somos"
                "Como-jugar"
                "Footer"
        }

        .navbar {
            grid-area: Nav;
        }

        #header {
            grid-area: Header;
            margin-left: 10px;
        }

        .Aside {
            display: none;
        }

        .Main {
            grid-area: Main;
            margin-left: 20px;
        }

        .Tabla-Inicio {
            display: none;
        }

        .Secciones {
            grid-area: Secciones;
        }

        .Quienes-somos {
            grid-area: Quienes-somos;
        }

        .Como-jugar {
            grid-area: Como-jugar;
            margin-left: 50px;
        }


    }

    /*Version Tablet*/

    @media only screen and (min-width:768px) and (max-width:1023px) {
        #Grilla {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 300px 300px auto auto auto auto auto auto;
            grid-template-areas:
                "Nav Nav"
                "Header Header"
                "Main Tabla-Inicio"
                "Main Tabla-Inicio"
                "Secciones Secciones"
                "Quienes-somos Quienes-somos"
                "Como-jugar Como-jugar"
                "Footer Footer"
        }

        .navbar {
            grid-area: Nav;
        }

        #header {
            grid-area: Header;
        }

        .Main {
            grid-area: Main;
        }

        .Tabla-Inicio {
            grid-area: Tabla-Inicio;
        }

        .Secciones {
            grid-area: Secciones;
        }

        .Quienes-somos {
            grid-area: Quienes-somos;
        }

        .Como-jugar {
            grid-area: Como-jugar;
            margin-top: 100px;
            margin-bottom: 20px;
            margin-left: 80px;
        }



        .Aside {
            display: none;
        }
    }

    /*Version desktop*/
    @media only screen and (min-width:1023px) {
        #Grilla {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 150px 300px auto auto auto auto auto auto;
            grid-template-areas:
                "Nav Nav Nav"
                "Header Header Header"
                "Aside Main Tabla-Inicio"
                "Aside Main Tabla-Inicio"
                "Secciones Secciones Secciones"
                "Quienes-somos Quienes-somos Quienes-somos"
                "Como-jugar Como-jugar Como-jugar"
                "Footer Footer Footer"
        }

        .navbar {
            grid-area: Nav;
        }

        #header {
            grid-area: Header;
        }

        .Main {
            grid-area: Main;
        }

        .Tabla-Inicio {
            grid-area: Tabla-Inicio;
        }

        .Secciones {
            grid-area: Secciones;
        }

        .Quienes-somos {
            grid-area: Quienes-somos;
        }

        .Como-jugar {
            grid-area: Como-jugar;
            margin-top: 100px;
            margin-bottom: 20px;
            margin-left: 20px;

        }

        .Aside {
            grid-area: Aside;
        }
    }

    /*Grilla Deportes*/